.single-product {
  height: 100%;
  width: 100%;
}
.comment-list {
  width: 80%;
  max-width: 1680px;

  margin: 2rem auto;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-opacity-50);
  border-radius: 1rem;
  gap: 1.5rem;
}

@media (max-width: 1480px) {
  .comment-list {
    width: 90%;
  }
}
@media (max-width: 1120px) {
  .comment-list {
    width: 100%;
    padding: 2rem 0.5rem;

    border-radius: 0;
  }
}
