* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  font-weight: normal;
}
button,
input,
optgroup,
select,
textarea,
html input[type='button'],
input[type='reset'],
input[type='submit'],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type='checkbox'],
input[type='radio'],
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='search'],
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #343a40;
}
a {
  text-decoration: none;
  color: #343a40;
}
a:hover {
  text-decoration: none;
  color: #343a40;
}
button {
  border: transparent;
}

html {
  background: url('./assets/background.jpg');
  height: fit-content !important;
}
:root {
  --font-family: 'Libre Baskerville', 'Noto Sans TC', serif;
  --primary-100: #f8f9fa;
  --primary-200: #e9ecef;
  --primary-300: #dee2e6;
  --primary-400: #ced4da;
  --primary-500: #adb5bd;
  --primary-600: #6c757d;
  --primary-700: #495057;
  --primary-800: #343a40;
  --primary-900: #212529;
  --primary-opacity: rgba(248, 249, 250, 0.2);
  --primary-opacity-50: rgba(248, 249, 250, 0.5);
  --primary-opacity-500: rgb(173, 181, 189, 0.7);

  --fs-xxl: 1.75rem;
  --fs-xl: 1.5rem;
  --fs-l: 1.25rem;
  --fs-m: 1rem;
  --fs-s: 0.75rem;
  --fs-xs: 0.5rem;

  --transition: 0.25s ease-in-out;
  --box-shadow: 0 0 12px 0 var(--primary-600);
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
