@import '../mixin';
.color-selector {
  width: fit-content;
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
  &__color-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    display: none;
    &[type='radio']:checked + label {
      box-shadow: 0px 0px 0px 1px var(--primary-100),
        0px 0px 8px 2px var(--primary-600);
    }
  }
  &__label {
    @include circle;
  }
}
