.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
  max-width: 1730px;
  height: 5rem;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 3px var(--primary-500);

  position: sticky;
  top: 0;
  background: var(--primary-100);
  opacity: 0.8;
  z-index: 5;

  .group-container {
    width: 40%;
    transition: var(--transition);
  }
  &__header {
    padding: 0 1.5rem;
  }
  &__logo {
    font-size: var(--fs-xxl);
    text-transform: uppercase;
    word-spacing: 10px;
  }

  &__toggle {
    display: none;
  }

  &__group {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__item {
    height: 5rem;
    width: 100%;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: var(--primary-400);
        cursor: pointer;
        transition: var(--transition);
      }
    }
  }
}
@media (max-width: 1440px) {
  .navbar {
    .group-container {
      width: 50%;
    }
    &__logo {
      font-size: var(--fs-xl);
    }
  }
}
@media (max-width: 880px) {
  .navbar {
    height: fit-content;
    width: 100vw;
    padding: 0;
    flex-direction: column;
    .group-container {
      width: 100%;
      overflow: hidden;
    }
    &__header {
      height: 4em;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      font-size: var(--fs-m);
    }
    &__toggle {
      display: inline-block;
      font-size: var(--fs-xxl);
      color: var(--primary-500);
      background: transparent;
      border-color: transparent;
      text-shadow: 10px 10px 10px 1px var(--primary-500);
      transition: var(--transition);
      cursor: pointer;
      &:hover {
        transform: rotateZ(90deg);
      }
    }
    &__group {
      height: fit-content;
      width: 100%;
      flex-direction: column;
    }
    &__item {
      height: 3em;
    }
  }
}
